body {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  margin: 0px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  margin: 0px 0px;
}

h3 {
  font-family: 'Noto Serif', serif;
  font-size: 1.8rem;
  color: #2079c7;
}

h5 {
  font-size: 1.5rem;
  margin: 0px;
}

h6 {
  font-size: 1.2rem;
  margin: 0px 0px 10px 0px;
  font-style: italic;
}

p {
  font-size: 1.1rem;
  margin: 0px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  margin: 10px auto;
  width: 100%;
}

.shortHr {
  width: 30%;
  border-width: 8px;
}

.miniHr {
  border-width: 3px;
}

.smallHr {
  display: none;
}

.hiddenHr {
  display: none;
}

.mainBody {
  background-color: #EAF6F6;
  width: 80%;
  padding: 5%;
  margin: 2% auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.topSection {
  width: 65%;
}

.education {
  width: 65%;
}

.bottomSection {
  width: 35%;
}

.projects {
  width: 100%;
}

.intro {
  display: flex;
  width: 65%;
}

.introDescription {
  margin: auto 0px;
}

.introInfo {
  display: flex;
  flex-flow: column wrap;
  margin: auto 30px;
}

.profilePic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 5px 20px
}

.itemList {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
}

.item {
  margin: 10px 0px;
  padding: 15px;
  border-radius: 20px;
  background-color: #c9daf8;
  width: 85%;
}

.alignRight {
  text-align: right;
  align-self: flex-end;
}

.sourceCode {
  display: inline-block;
  margin: .2rem;
  padding: .2rem 1.25rem;
  border-radius: 10rem;
  border-style: none;
  background-color: #3acdde;
  color: #000;
  font-family: 'Noto Serif', serif;
}

.sourceCode:visited {
  color: #000;
}


.contacts {
  text-align: right;
  width: 35%;
  align-self: flex-end;
}

.contacts a {
  color: #0000ee;
}

.contactItem {
  padding: 2px 10px;
  border-radius: 15px;
  margin: 5px 0px;
  background-color: #c9daf8;
}

@media all and (min-width: 800px) {
  .sourceCode:hover {
    background-color: #2f75c4;
    color: #ffffff;
  }

  .contactItem:hover {
    text-align: left;
  }

}

.fa {
  width: 20px;
  font-size: 18px;
}

.blockSection {
  margin-bottom: 2rem;
}

.blockList {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: space-around;
}

.blockPoint {
  margin: .8rem;
  padding: .25rem .75rem;
  border-style: none;
  border-radius: 10rem;
  background-color: #2f75c4;
  font-family: 'Noto Serif', serif;
  font-size: 1.2rem;
  color: #f0f7ff;
}
/*
@media all and (max-width: 1460px) {

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}


.profilePic {
  width: 130px;
  height: 130px;
}

} */

@media all and (max-width: 1420px) {

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}


.profilePic {
  width: 120px;
  height: 120px;
}

}

@media all and (max-width: 1024px) {

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  .profilePic {
    width: 150px;
    height: 150px;
  }

  .mainBody {
    flex-flow: column nowrap;
  }

  .intro, .education, .bottomSection, .projects, .contacts {
    width: 100%;
    text-align: center;
    display: inline-block;
  }

  .alignRight{
    text-align: center;
    align-self: baseline;
  }

  .item {
    width: 90%;
  }

  .contacts {
    order: 10;
  }

  .contactItem {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
  }

  .hiddenHr {
    display: block;
  }

  .blockList {
    justify-content: center;
  }

  .smallHr {
    display: block;
    border-width: 2px;
    margin: 5px auto 3px;
    padding: 0px;
    width: 25%;
  }

}


@media all and (max-width: 800px) {

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .profilePic {
    width: 130px;
    height: 130px;
  }

}
