body {
  font-family: 'Ubuntu', sans-serif;
}

h2, h3, h4, h5, h6 {
  margin: 0px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  margin: 0px 0px;
}

h3 {
  font-family: 'Noto Serif', serif;
  font-size: 1.8rem;
  color: #2079c7;
}

h5 {
  font-size: 1.5rem;
  margin: 0px;
}

h6 {
  font-size: 1.2rem;
  margin: 0px 0px 10px 0px;
}

p {
  font-size: 1.1rem;
  margin: 0px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  margin: 10px auto;
}

.shortHr {
  width: 15%;
  border-width: 8px;
}

.mainBody {
  background-color: #EAF6F6;
  width: 80%;
  padding: 5%;
  margin: 2% auto;
  display: flex;
}

.intro {
  display: flex;
}

.introDescription {
  margin: auto 0px;
  font-size: 1.2rem;
}

.introInfo {
  display: flex;
  flex-flow: column wrap;
  margin: auto 30px;
}

.section {
  width: 90%;
  margin: auto;
}

.profilePic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 5px 20px
}

.itemList {
  width: 90%;
  margin: auto;
}

.item {
  margin: 10px 0px;
  padding: 15px;
  border-radius: 20px;
  background-color: #c9daf8;
}

.alignRight {
  text-align: right;
}

.contacts {
  text-align: right;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Ubuntu', sans-serif; */
